@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montez);

h1 {
	font: 180px "Montez";
	text-align: center;
}

#rollingpaper_menu {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-left: -380px;      
  	margin-top: -630px;
}

#rollingpaper_menu li {
	float: down;	
    list-style-type: none;	
    
	position: relative;
  	top: 50%;
  	left: 50%;
  	margin-left: -250px;      
}

#rollingpaper_menu li a {
	display: block;
		
	width: 400px;
	height: 180px;
	color: #000;
	margin: 30px;
	
	font: 100px "Montez";
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	
	padding: 20px 10px 1px 10px;
	border: 5px solid #696969;
	border-right-width: 3px;
	border-radius: 30px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
} 

#rollingpaper_write, #rollingpaper_read {
  	top: 50%;
  	left: 50%;
  	margin-left: 0px;      
  	margin-top: -50px;
}

#write_message, #read_message {
	display: block;
	width: 900px;
	height: 700px;
	color: #000;
	margin: 30px;
  	margin-top: -100px;
	font: 40px "Montez";
	text-align: center;
	vertical-align: middle;
	padding: 20px 10px 1px 10px;
	border: 5px solid #696969;
	border-right-width: 3px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 	
}

#write_send, #write_cancel, #home {
	display: block;

	width: 300px;
	height: 120px;
	color: #000;
	
	text-align: center;
	vertical-align: middle;		
	font: 80px "Montez";
  	margin-top: -10px;	
	border-radius: 30px;
	padding: 5px 15px 5px 15px; 
	margin: 0 auto;
	background-color: #FFF;
}


#rollingpaper_about p {
	font: 30px "Montez";
    list-style-type: none;		
	text-decoration: none;	
	text-align: center;	
	vertical-align: middle;
	float: down;	
}
